<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:task="http://www.springframework.org/schema/task"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
        
	<context:component-scan base-package="com.lj" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
			<bean factory-bean="mappingJackson2HttpMessageConverterFactory" factory-method="init"
				   class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
		</mvc:message-converters>
	</mvc:annotation-driven>
	<bean id="mappingJackson2HttpMessageConverterFactory" class = "com.lj.main.web.MappingJackson2HttpMessageConverterFactory" />

	<mvc:resources mapping="/style/**" location="/style/" />
	<mvc:resources mapping="/vender/**" location="/vender/" />
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/scripts/**" location="/scripts/" />

	<mvc:interceptors>
		<!-- 国际化操作拦截器 如果采用基于（请求/Session/Cookie）则必需配置 -->
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
		<!-- 如果不定义 mvc:exclude-mapping path 将拦截所有的URL请求 -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/style/**" />
			<mvc:exclude-mapping path="/vender/**" />
			<mvc:exclude-mapping path="/images/**" />
			<mvc:exclude-mapping path="/scripts/**" />
			<bean class="com.lj.main.web.AuthInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- Freemarker配置 -->
<!-- 	<bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />
	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/freemarker/" />
		<property name="freemarkerVariables">
			<map>
				<entry key="xml_escape" value-ref="fmXmlEscape" />
			</map>
		</property>
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">0</prop>
				<prop key="defaultEncoding">UTF-8</prop>
				<prop key="url_escaping_charset">UTF-8</prop>
				<prop key="locale">zh_CN</prop>
				<prop key="boolean_format">true,false</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="time_format">HH:mm:ss</prop>
				<prop key="number_format">0.######</prop>
				<prop key="whitespace_stripping">true</prop>
				<prop key="auto_import"></prop>
				<prop key="template_exception_handler">ignore</prop>
			</props>
		</property>
	</bean>

	<bean id="freemarkerStaticModelsProps"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="location" value="classpath:conf/freemarkerstatic.properties" />
	</bean>

	<bean id="freemarkerStaticModels" class="com.sxit.common.freemarker.FreemarkerStaticModels"
		factory-method="getInstance">
		<property name="staticModels" ref="freemarkerStaticModelsProps" />
	</bean>

	<bean id="freemarkerViewResolver"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="cache" value="true" />
		<property name="prefix" value="" />
		<property name="suffix" value=".html" />
		<property name="contentType" value="text/html;charset=UTF-8"></property>
		<property name="attributesMap" ref="freemarkerStaticModels" />
		<property name="order" value="1" />
	</bean> -->

	<!-- 参数验证 -->
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />

	<!-- 配置文件上传，如果没有使用文件上传可以不用配置，当然如果不配，那么配置文件中也不必引入上传组件包 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" />    <!-- 默认编码 -->
		<property name="maxUploadSize" value="10485760000" />    <!-- 文件大小最大值 -->
		<property name="maxInMemorySize" value="40960" />    <!-- 内存中的最大值 -->
	</bean>
</beans>